// 1. CUSTOM BOOTSTRAP VARIABLES
$primary: #6fff00;   // Your Padel Ball Neon Yellow
$secondary: #005A9C; // Your Court Blue

// 2. IMPORT BOOTSTRAP & CUSTOM PAGES
@import "../node_modules/bootstrap/scss/bootstrap";
@import "page1";
@import "jucatori";
@import "rezultate";
@import "galerie";

// MOBILE HAMBURGER COLOR
.navbar-toggler-icon {
  // This filter shifts the white lines toward your Neon Yellow/Green 
  //You might need to tweak these numbers to get the exact match
filter: invert(50%) sepia(20%) saturate(2000%) hue-rotate(25deg) brightness(200%);
}

// Targets the menu ONLY while it is in motion
.collapsing {
  // Changed from 0.35s to 0.6s, and added a smoother "slide" curve
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

